.breadcrumb{
    margin:2em 0;
    margin-left: 0.75rem;
    .breadcrumb-item{
     
        +.breadcrumb-item{
            &::before{
                content: '>';
            }
        }
       a{
        text-decoration:none;
       }
    }
   
}
nav{

    align-items: center;
    justify-content: space-between;
    .function-list{
        margin-top: 0.5em;
        // margin-right: 1em;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        input{
            height: 100%;
            background-color: lighten(#dfdfdf, 8%);
            border:1px solid #dfdfdf;
            margin-right: 1.5em;
            padding-right: 45px;
           
        }
        .form-findfund{
            position: relative;
            height: 100%;
            width: 100%;
            button{
                position: absolute;
                background:unset;
                border:0px;
               
                right: 8px;
                top: 6px;
                cursor: pointer;
             
            }
            @include media-breakpoint-up(sm) { 
               
                width: 200px;
            }
        }
        li{
            &:first-child{
                .btn{
                    margin-left: 0;
                }
            }
        }
        .btn{
            // white-space: nowrap;
            cursor: pointer;
            background-color: lighten(#dfdfdf, 8%);
            border:1px solid #dfdfdf;
            color:#777;
            padding: 0.5em 1em;
            margin-left: 0.5em;
            
            @include media-breakpoint-up(sm) { 
                padding: 0.5em 1.8em;
             }
            &:hover{
                background:#777 ;
                color: #fff;
            }
        }
    }
}