.btn-submit ,.btn-logout, .btn-width{
    padding:  0.5rem ;
    width: 50%;
    font-size: 1.25rem;
    max-width: 320px;
    @include media-breakpoint-up(lg) { 
        // padding: 1.2em 5em ;
        padding: 0.5rem 5rem;
        width: auto;
    }
}
.btn-reflash{
    white-space: nowrap;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    display: flex;
    justify-content: center;
    span{
        display: inline-block;
        
    }
    img{
        height: 20px;
        margin-right: 0.5em;
    }
}
.btn-like{
    i{
        color: #cecece;
        cursor: pointer;
        font-size: 1.3em;
    }
    .active{
        color: $ligthdanger;
    }
}