footer{
	background-color: #f0f0f0;
	.border-bottom{
		border-bottom:$gray-500 1px solid !important;
	}
    .list{
			margin-bottom: 0.5em;
			margin-top: 2em;
			.phone-num{
				display: flex;
				align-items: center;
			
				p{
					font-weight: 600;
					margin-bottom: 0;
					margin-right: 0.5em;
				}
				span{
					font-size: 2em;
					@include media-breakpoint-down(sm) {font-size: 1.5em; }
					font-weight: 600;
				}
			}
        ul{
        	display: flex;
					padding: 0;
					margin-bottom: 0;
					li{
						&:first-child{
						a{
							margin-left:0 ;
						
						}	
						@media (max-width: 480px){
							a{
								margin:0 0.6em;
							
							}		
						}	
						}
						a{
						
							margin:0 0.6em;
							text-decoration: none;
							color:#000;
							font-weight: 600;
						}
						
					}
					@media (max-width: 480px){
						display: block;
						text-align: center;
						li{
							margin-bottom: 0.3em;
						}
					}
        }
    }
		.list-logo{
			padding-bottom: 1em;
			ul{
				color: #000;
				margin-bottom: 0;
				li{
					white-space: nowrap;
					margin-bottom: 0.25em;
					@include media-breakpoint-down(sm) { 
						white-space: normal;
					 }
				}
			}
			.img{
				img{
					width: 100%;
				}
				span{
					display: block;
    			white-space: nowrap;
				}
			}
		}
    p{
		color: $gray-600;
		padding-bottom: 2em;
	}
}