.form-center {
  max-width: 640px;
  margin: 0 auto;

  .form-control,
  .form-select {
    border: none;
    height: 3em;
    background-color: #fff;
    border: 1px solid #cecece;

    &:focus,
    &:active {
      background-color: #fff;
      border: 1px solid #cecece;
    }
  }

  form {
    margin-top: 1em;
  }
}

.form-signin {
  width: 100%;
  max-width: 640px;
  padding: 15px;
  margin: auto;

  .btn-danger {
    color: #fff;
  }
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;

}

.form-list {

  input,
  select {
    // background-color: #e4eefd;
    // border: none;
    // background-color: #e9ecef;
    height: 2.5em;

    &:active,
    &:focus {
      // background-color: #e4eefd;
      // background-color: #e9ecef;
    }
  }

  .form-text {
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    height: 40px;
    margin-top: 0;
    color: #212529;
    font-size: 1rem;
    width: 100%;
    //background-color: #e9ecef;
    background-color: #e4eefd;
    border: 1px solid #00000020;
  }

  .card-trade {
    .card-header {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      border-top: 5px solid $primary;
      align-items: center;
      padding: 0.25rem 1rem 0.25rem 3em;

      input[type="checkbox"] {
        border: 0px;
        background: #e9ecef;
        cursor: pointer;
        &:hover{
          background-color: darken( #e9ecef, 3%);
          transition: all .6s;
        }
      }
    }

    .card-body {
      padding-left: 3em;

      ul {
        padding-left: 0px;
        margin-bottom: 0px;

        li {
          color: #212529;
          margin-bottom: 0.5em;

          &:last-child {
            margin-bottom: 0em;
          }
        }
      }
    }

    input[type="checkbox"] {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-top: 0;
      // background-color: #fff;
    }

    .title {
      font-size: 1.25rem;
      font-weight: 500;

    }

    .form-check-input:checked[type="checkbox"] {
      background-color: #e4eefd;
      background-image: url(../image/check_icon_blue.png);
    }
  }

  .card-content {
    background: #dddddd;
    padding: 1.25em;
    font-weight: 500;
    border: 0px;
    height: 100%;

    span {
      padding: 0 0.5em;
    }

    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      p {
        margin-bottom: 0.25em;
      }

      ul {
        padding-left: 0;
        margin: 0;
        color: #212529;

        li {
          margin-bottom: 0.25em;
        }
      }
    }
  }

  .btn-debit {
    border: 1px solid #00000020;
    width: 100%;
    background-color: #fff;
    min-height: 120px;
    color: $gray-600;//#6c757d;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      text-align: center;
      width: 100%;
      background: unset;
      appearance: none;

      &:focus-visible {
        outline: none;
      }
    }

    &:hover {
      background: #e4eefd;
    }
  }

  .btn-debit.active {
    background: #e4eefd;
    //box-shadow: 0 0 0 0.2rem rgba(9, 62 ,141,0.25 );
    color: #212529;
  }

  .form-check-btn {
    padding: 0;
    position: relative;
    margin-bottom: 0;
    input[type="checkbox"] {
      width: 100%;
      margin-left: 0;
      background-color: #fff;
      border: 1px solid #00000020;
      min-height: 120px;
      cursor: pointer;
      &:hover{
        background-color: lighten( #e9ecef, 3%);
        transition: all .6s;
      }
    }

    input:checked[type="checkbox"] {
      // background-color: #e4eefd;
      background-color: #e9ecef;
      background-image: none;
    }

    label {
      color: $gray-600;//#646464;//#6c757d;
      font-weight: 500;
      font-size: 1.2rem;
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      top: 50px;

      input {
        width: 100%;
        text-align: center;
        background: unset;
        position: absolute;
        left: 0;
        top: -10px;

        &:focus-visible {
          outline: 0;
        }
      }
    }

    .btn {
      width: 100%;
      height: 120px;
      // background: #e9ecef;
      background: #e4eefd;
      margin-top: 0.25em;
      border: 1px solid #00000020;
      color:$gray-600;//#6c757d;
      font-weight: 500;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
    }
  }

  .card-disabled {
    background: #f9f9f9;
  }

  .form-radio {
    margin-top: 0em;

    @include media-breakpoint-up(md) {
      margin-top: 0.5em;
    }

    input[type="radio"] {
      height: 1em;
    }
  }

  .form-control,.form-select {
    &:disabled {
      background-color: #e4eefd;
    }
  }
}

.form-password {

  input,
  select {
    background-color: #fff;
    border: 1px #cecece solid;
    height: 2.5em;

    &:active,
    &:focus {
      background-color: #fff;
    }
  }
}

.select-Month,
.select-Date {
  .select-title {
    color: $gray-600;
    font-weight: 600;

    .pc-text {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .mobile-text {
      display: block;

      @include media-breakpoint-up(sm) {
        display: none;
      }

    }
  }

  .btn {
    display: flex;
    height: 100%;
    align-items: center;

    span {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      img {
        display: none;
      }

      width: 100%;

      span {
        display: inline-block;
        width: 100%;
      }

      padding: 0.5rem;
      font-size: 1.25rem;
    }

  }
}

.select-Date {
  .select-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(sm) {
      width: 20px;
    }

  }

}

.step-list {
  margin-bottom: 6em;

  .step-group {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 80%;
      top: 45%;
      left: 10%;
      height: 6px;
      background: #dee5ef;
    }

    @include media-breakpoint-up(sm) {
      &::after {
        width: 90%;
        left: 5%;
      }

    }

  }

  .step-2 {
    &:before {
      position: absolute;
      content: '';
      width: 50%;
      top: 45%;
      height: 6px;
      background: $primary;
      z-index: 1;
    }
  }

  .step-3 {
    &:before {
      position: absolute;
      content: '';
      width: 80%;
      top: 45%;
      left: 10%;
      height: 6px;
      background: $primary;
      z-index: 1;
    }

    @include media-breakpoint-up(sm) {
      &::before {
        width: 90%;
        left: 5%;
      }

    }
  }

  .step-item-1,
  .step-item-2,
  .step-item-3 {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #dee5ef;
    position: relative;

    &:after {
      position: absolute;
      content: '設定購買方式';
      top: 60px;
      white-space: nowrap;
      left: -20%;

    }
  }

  .step-item-1 {
    &:after {
      left: -50%;
    }

  }

  .step-item-2 {
    &:after {
      content: '資料確認';
    }
  }

  .step-item-3 {
    &:after {
      content: '完成交易';
    }
  }

  .active {
    background: no-repeat $primary url(../image/check_icon.png) center center;
    color: $primary;
  }

}

.step-changelist {
  .step-item-1 {
    &:after {
      content: '基金異動';
      left: -20%;
    }
  }

  .step-item-3 {
    &:after {
      content: '完成變更';
    }
  }
}

.alert {
  padding: 0.25em 1rem;
}

.alert-danger {
  background: $danger;
  color: #fff;
  text-align: center;
}

.card-directions {
  padding: 1.5em 2em;
  max-height: 400px;
  overflow-y: scroll;
  background: #ece8e8;
  border: 0px;

  .list-square {
    li {
      margin-bottom: 1em;
      color: #212529;
    }
  }
}

.card-agree {
  padding: 1em 2em;
  width: 760px;
  display: flex;
  align-items: center;

  .row {
    width: 100%;
  }

  p {
    span {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
  }

  .form-check input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    background-color: #e9ecef;
    cursor: pointer;
    &:hover{
      background-color: darken( #e9ecef, 10%);
      transition: all .6s;
    }
  }

  .form-check-input:checked[type="checkbox"] {
    background-color: $primary;
    background-image: url('../image/check_icon_white.png');
   
  }
}

.select-bar {
  align-items: flex-end;
  background: #eaeaea;
  border-radius: 0.25em;
  padding: 1.5em 1em;

  select,
  input {
    height: 42px;
  }
  .select-date{
    margin-top: 0px;
  }
  .form-label {
    color: $primary;
    margin-top: 0;
  }

  button {
    width: 100%;
    height: 4em;

    @media (min-width: 768px) {
      height: 42px;
    }
  }

}
// .bi-printer{
//   font-size: 1.2em;
// }

// .select-bar-trade {}