.form-center{
    max-width: 600px;
    margin: 0 auto;
    
    form{
        margin-top:2em;
    }
 }
 .form-signin {
    width: 100%;
    max-width: 640px;
    padding: 15px;
    margin: auto;
    .btn-danger{
      color: #fff;
    }
  }
  
.form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: -1px;

  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
  
  }

.form-list{
  input,select{
    background-color: #e4eefd;
    border:none;
    height: 2.5em;
    &:active, &:focus{
      background: #e4eefd;
    }
  }
 
}
.form-password{
  input,select{
    background-color: #fff;
    border: 1px #cecece solid ;
    height: 2.5em;
    &:active, &:focus{
      background: #fff;
    }
  }
}