.modal-stop{
    .modal-header{
        padding-bottom: 0px;
    }
    .form-control{
        background-color: #e4eefd;
        border:0px;
    }
    .modal-footer{
        padding-bottom: 1.5em;
    }
    .modal-header, .modal-footer{
        border: 0px;
    }
    .btn-switch{
        display: flex;
        align-items: center;
        span{
            &:first-child{
                padding-left: 0;
            }
            padding:0 0.5em;
        }
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }
        
        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 60px;
            height: 30px;
            background: grey;
            display: block;
            border-radius: 100px;
            position: relative;
            &::before{
                content: 'on';
                position: absolute;
                color: #fff;
            }
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }
        
        input:checked + label {
            background:$primary;
        }
        
        input:checked + label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
        
        label:active:after {
            width: 30px;
        }
    }
    span.form-label {
        display: block;
        color: #646464;
        font-weight: 500;
        margin-bottom: 0.5rem;

    }
    .form-control-pay{
        &:disabled{
            background-color: #eaeaea;
        }
    }
}

.modal-explain{
	.modal-header {
		color: $primary;
		border-bottom: 0px;
	}

	.modal-body {
		padding-top: 0px;
	}

	p {
		color: $secondary;
		margin-bottom: 0.5em;
	}
}