.modal-stop{
    .modal-header{
        padding-bottom: 0px;
    }
    .form-control{
        background-color: #e4eefd;
        border:0px;
    }
    .modal-footer{
        padding-bottom: 1.5em;
    }
    .modal-header, .modal-footer{
        border: 0px;
    }
}