.table-style-headerDeep {
	table {
		thead {
			background-color: $primary;
			color: #fff;

			th {
				white-space: nowrap;
				min-width: 200px;
				padding-top: 1.2em;
				padding-bottom: 1.2em;
				position: relative;
				// padding: 1.25rem;

				&:after {
					content: '';
					position: absolute;
					height: 1em;
					width: 1px;
					background-color: #dee2e6;
					top: 1.5em;
					right: 0;
				}

				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}

		tbody {
			background-color: #fff;

			td {
				// padding:  1.25rem;
				&:first-child {
					padding-left: 1.25rem;
				}
			}

			tr {
				vertical-align: middle;

			}

			th {
				font-weight: 400;
			}
		}

		td>table {
			width: 100%;

			th {
				width: 50%;
				font-weight: 400;
				vertical-align: text-top;
			}

			tr {
				border-bottom: 1px solid $border-color;

				td,
				th {
					padding: 0.5em 0;

				}

				td {
					padding-left: 0.5em;

					i {
						color: $success;
						margin-right: 0.2em;
					}
				}

				&:first-child {

					td,
					th {
						padding-top: 0em;
					}

				}

				&:last-child {
					border-bottom: none;
				}
			}

		}
	}

	.table>:not(:first-child) {
		border-top: 0;
	}
}

.table-combination {
	margin: 2em 0;
	padding: 0 2.5em;

	@include media-breakpoint-up(xl) {
		padding: 0 1.5em;
	}

	table {
		background: #fff;
	}


	tr {
		line-height: 46px;
		border: #fff;
		border-left: 5px solid #ccc;
		position: relative;
		font-weight: 600;

		th {
			padding-left: 15px;

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 180px;
		}

		&:nth-child(even) {
			background-color: #ececec;
		}

	}

	tr.active {
		&::after {
			position: absolute;
			content: '';
			border-style: solid;
			border-width: 7px 0 7px 7px;
			border-color: transparent transparent transparent;
			left: -3px;
			top: 24px;

		}
	}

	.active.table-primary-tab {

		&::after {
			border-color: transparent transparent transparent $primary;
		}
	}

	.table-primary-tab {
		border-left: 5px solid $primary;

		td {
			&:last-child {
				color: $primary;
			}
		}
	}

	.table-secondary-tab {
		border-left: 5px solid $lightPrimary;

		td {
			&:last-child {
				color: $lightPrimary;
			}
		}

	}

	.active.table-secondary-tab {
		&::after {
			border-color: transparent transparent transparent $lightPrimary;
		}
	}

	.table-info-tab {
		border-left: 5px solid $info;

		td {
			&:last-child {
				color: $info;
			}
		}
	}

	.active.table-info-tab {
		&::after {
			border-color: transparent transparent transparent $info;
		}
	}

	.table-danger-tab {
		border-left: 5px solid $ligthdanger;

		td {
			&:last-child {
				color: $ligthdanger;
			}
		}
	}

	.active.table-danger-tab {
		&::after {
			border-color: transparent transparent transparent $ligthdanger;
		}
	}
}

.table-fundlist {
	margin-bottom: 3em;
	.table {
		thead {
			th {
				vertical-align: middle !important;

				// &:first-child {
				// 	padding-left: 1.25rem;
				// }

			}
		}

		tbody {
			background-color: #fff;

			tr {
				border-top: none;
				>td{
					border-bottom: 0px;
				}
				&:nth-child(even){
					border-bottom: 1px solid #dee2e6;
				}
			}

			td {
				text-align: end;
				font-weight: 600;
				th {
					cursor: pointer;
				}

				.fund-btn {
					color: $primary;
					width: 100%;
					padding-right: 2.5em;
					text-align: start;
					position: relative;

					i {
						position: absolute;
						right: 0.5em;
						top: 0.5em;
					}

					&:focus {
						box-shadow: unset;
					}
				}

				&:first-child {
					border-right: 1px solid #dee2e6;
					width: 220px;
				}

				&:last-child {
					border-right: none;
				}

				// &:hover{
				// 	background: lighten($primary, 80%);
				// }
			}
			
		}
	}

	.thead {
		th {
			text-align: end;
			padding-right: 1.25rem;

			&:after {
				height: 2.5em;
			}

			&:first-child {
				text-align: start;
				padding-left: 2rem;
				padding-right: unset;
			}
		}
	}

	.subthead {
		background: #fff;
		color: #000;

		tr {
			border-bottom: 1px solid #dee2e6;
		}
		

		th {
			button {
				font-weight: 600;
				padding: 0;
			}

			img {
				margin-top: -5px;
				margin-left: 0.3em;
			}

			text-align: end;

			&:first-child {
				border-right: 1px solid #dee2e6;
				text-align: start;
				padding-left: 2rem;
			}

			&:last-child {
				border-right: none;
				padding-right: 1.25rem;
			}

			&:after {
				display: none;
			}
		}
	}

	
	select {
		background-color: #f6f6f6;
		color: rgb(119, 119, 119);
		padding: 0.8em ;
		width: 165px;
	}

	.tr-collapse {
		background-color: #333;

		
		table {
			margin-bottom: 0;
		}

		tbody {
			background-color: unset;
			color: #fff;

			th,
			td {
				padding: 1rem .5rem;

			}

			td {
				width: 200px;
				text-align: end;
				
			}

			th {
				width: 188px;
				text-align: end;
				position: relative;
				padding-right: 1rem;

				&::after {
					position: absolute;
					content: '';
					width: 1px;
					height: 1.5em;
					background: #fff;
					right: 0;
					top: 1em;
				}
			}

			tr {
				border: 1px solid #333;
				&:nth-child(even){
					border-bottom:  1px solid #333;
				}
			}
		}

		button {
			height: 3em;
			padding: 0 1.5em;

		}

		.teb-danger {
			padding: 0.5em 0.8em;
			background: $danger;
			border-radius: 2px;
		}
	}
}

.table-observelist {
	margin-top: 2em;
	padding-bottom: 2em;

	thead {
		tr>th {
			text-align: end;
			vertical-align: middle;

			.btn {
				color: #fff;
				font-weight: 600;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 100%;
				padding-right: 0.25em;

				img {
					margin-left: 0.5em;
				}
			}

			&:first-child {
				text-align: start;
				padding-left: 1.25em;
			}

			&:last-child {
				max-width: 100px;
				min-width: unset;

			}

			&:nth-child(6) {
				&::after {
					display: none;
				}
			}

			&::after {
				top: 1.9em;
			}
		}
	}

	tbody {
		tr>td {
			text-align: end;

			&:first-child {
				text-align: start;
				border-right: 1px solid #cecece;
				padding-left: 1.25em;
			}

			&:last-child {
				font-size: 1.3em;
				width: 100px;
				text-align: center;
				color: #cecece;
				min-width: 80px;
			}
		}

		button {
			i {
				cursor: pointer;
				font-size: 1.3em;
				padding: 0.2em;
				color: #cecece;
			}
		}
		select {
			background-color: #f6f6f6;
			color: rgb(119, 119, 119);
			padding: 0.8em ;
			width: 165px;
		}
		.active {
			color: $ligthdanger;
		}
	}
}

.table-style-level {

	th,
	.th {
		background: #dee5ef;
		padding: 1em;
		padding-right: 2em;
		text-align: end;
		width: 250px;
		border-bottom: 1px solid #fff;
		min-width: 250px;
		vertical-align: middle;
		white-space: nowrap;
	}

	td,
	.td {
		padding-left: 2em;
		vertical-align: middle;
		background: #fff;
		min-width: 300px;
	}

	.th {
		font-weight: 600;
		width: 250px;
		min-width: 250px;

		@include media-breakpoint-down(md) {
			width: 160px;
			min-width: 160px;
		}
	}

	.td {

		width: calc(100% - 250px);
		min-width: unset;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #dee2e6;

		@include media-breakpoint-down(md) {
			width: calc(100% - 160px);
			padding: 0.5em;
		}

	}
}


.table-explain {
	

	thead th {

		background: #f0f0f0;
		border-top: 5px solid $primary;
		width: unset;
		min-width: unset;
		border-right: 1px solid lighten($secondary, 30%);

		&:last-child {
			border-right: 0px;
		}
	}

	tbody {

		border-top: 0px !important;

		th {
			width: unset;
			min-width: unset;
			text-align: center;
			padding: 1em;
		}

		ul {
			margin-bottom: 0px;

			li {
				color: #000;
			}
		}

		.list {
			width: 100%;

			th,
			td {
				width: 50%;
				// width: 300px;
				white-space: normal;
				min-width: 300px;
				border-bottom: 0px;
				padding: 1em 2em;
			}

			tr {
				border-bottom: 1px solid #bcc1c6;

				&:last-child {
					border-bottom: 0px;
				}
			}

			th {
				background-color: #fff;
				font-weight: 400;
				text-align: start;
			}
		}

	}
}

.table-style-border {
	table {
		background: #fff;
	}

	thead {
		border-top: 5px solid $primary;

		th {
	
			white-space: nowrap;
		}
	}

	table>tbody {
		border-top: 0px !important;
		background-color: lighten(#dfdfdf, 10%);

		.td-minwidth {
			min-width: 250px;
		}
	}

	a {
		white-space: nowrap;
	}
}
.table-list{
	thead{
		th{
			padding:1.25em 1.2em;
		}
	}
	tbody{
		td,th{
			padding:1.25em 1.2em;
		}
	}
}
.table-trade{
	thead{
		th{
		text-align: center;
		}
	}
	tbody{
		tr>td{
			text-align: center;
			vertical-align: middle;
			&:nth-child(4){
				text-align: start;
			}
		}
	}
}
.table-netValue{
tbody{
	td{
		min-width: auto;
		padding-left: 0.5em;
		text-align: center;
	}
}
}