body {
    background: #f0f0f0;
}


p {
    margin-bottom: 0;
    line-height: 2em;
}

.banner {
    img {
        max-width: unset;
        width: 100%;
    }
}

h1 {
    color: $primary;

    .eg-name {
        font-size: .75em;
        font-weight: 300;
    }
}

h2 {
    color: $primary;
}

ul {
    list-style: none;
    color: $gray-600;
}

.bi-check-circle-fill {
    color: $success;
}

.bi-x-circle-fill {
    color: $danger;
}

.list-disc,
.list-square,
.list-num {
    color: $gray-600;

    ul {

        line-height: 2em;
    }
}

.list-disc {
    p {
        margin-bottom: 0.5em;
    }

    ul {
        list-style-type: disc;

    }
}

.list-num {
    p {
        margin-top: 2em;
    }

    ul {
        list-style-type: decimal;

    }
}

.list-square {
    ul {
        list-style-type: none;

        li {
            position: relative;

            &::before {
                position: absolute;
                left: -20px;
                content: '◆';
            }

        }

    }

    .list-num {
        ul {
            list-style-type: number;
            padding-left: 1em;
            li {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.list-introduce {
    font-weight: 600;
    color: #000;

    .title {
        margin-bottom: 1em;

        span {
            font-size: 1.2em;
        }
    }

    .subtitle {
        margin-bottom: 0.5em;
        color: $primary;
    }

    p,
    ul>li {
        color: #000;
        font-weight: 400;

    }

    ul {
        margin-bottom: 1.5em;
    }
}

main {

    padding-top: 6em;
    // padding-top: 8em;
    background: url(../image/ftft_bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

    .container {
        padding-bottom: 3em;
    }
}

.btn-submit {
    padding: 1.2em 5em;
}

.form-control-bg {
    background-color: lighten($primary, 65%);

    &:active,
    &:focus {
        background-color: lighten($primary, 65%)
    }

}

label.form-label {
    color: $gray-600;
    font-weight: 500;
    i{
        color: #6c757d;
    }
}

.select-order {
    display: flex;
    align-items: center;

    // margin-right: 1em;
    span {
        white-space: nowrap;
        color: $primary;
        margin-bottom: 0;
        margin-right: 0.5em;
    }

    select {
        border: 0px;

        background-color: $primary;
        background-image: url(../image/select_arrow.svg);
        color: #fff;
        padding-top: .8em;
        padding-bottom: .8em;
    }

    flex-wrap:nowrap;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        padding: 0 1.75em;
        margin-bottom: 3em;

        span {
            margin-bottom: 0.75em;
        }
    }
}
.select-order-list{
    padding: 0;
    select{
        background-color: #eaeaea;
        border: 1px solid #ced4da;
        color: unset;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }

}
.datepicker-dropdown{
    z-index: 1030 !important;
}
.content-info {
    background: #fff;
    border-top: 5px solid $primary;
    padding: 1.5em;
    border-radius: 0.25em;

    @include media-breakpoint-up(sm) {
        padding: 2em 3em;
    }

    img {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }

    ul {
        color: #000;

        // padding-left: 0em;
        li {
            margin-bottom: 0.5em;
        }
    }
}

.content-trend {
    background: #eaeaea;
    border-top: 0px;

    ul {
        padding-left: 0em;
    }
}

.card-info {
    min-width: 300px;
    overflow-x: scroll;

    .content {

        min-width: 400px;
    }

    padding: 2em;


}

.was-validated .input-password .form-control {

    &:invalid,
    &:valid {
        background-image: none;
    }
}

.datepicker-cell.selected {
    background-color: $primary !important;

}


// 取消 input number樣式
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}