body {
    background: #f0f0f0;
}
p{
    margin-bottom: 0;
    line-height: 2em;
}
.banner {
    img {
        max-width: unset;
        width: 100%;
    }
}

h1 {
    color: $primary;
    .eg-name{
        font-size: .75em;
        font-weight: 300;
    }
}
h2{
    color: $primary;
}
ul {
    list-style: none;
    color: $gray-600;
}

.bi-check-circle-fill {
    color: $success;
}

.bi-x-circle-fill {
    color: $danger;
}

.list-disc,
.list-num {
    color: $gray-600;

    ul {

        line-height: 2em;
    }
}

.list-disc {
    p {
        margin-bottom: 0.5em;
    }

    ul {
        list-style-type: disc;

    }
}

.list-num {
    p {
        margin-top: 2em;
    }

    ul {
        list-style-type: decimal;

    }
}

.list-introduce{
    font-weight: 600;
    color: #000;
    .title{
        margin-bottom: 1em;
        span{
            font-size: 1.2em;
        }
    }
    
    .subtitle{
        margin-bottom: 0.5em;
        color: $primary;
    }

    p,ul>li{
        color: #000;
        font-weight: 400;
       
    }
    ul{
        margin-bottom: 1.5em;
    }
}
main {

    padding-top: 8em;
    background: url(../image/ftft_bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

    .container {
        padding-bottom: 3em;
    }
}

.btn-submit {
    padding: 1.2em 5em;
}

.form-control-bg {
    background-color: lighten($primary, 65%);

    &:active,
    &:focus {
        background-color: lighten($primary, 65%)
    }

}

label.form-label {
    color: $gray-600;
    font-weight: 500;
}

.select-order{
    display: flex;
    align-items: center;
    span{
        white-space: nowrap;
        color: $primary;
        margin-bottom: 0;
        margin-right: 0.5em;
    }
    select{
        border: 0px;
    
        background-color: $primary;
        background-image: url(../image/select_arrow.svg);
        color: #fff;
        padding-top: .8em;
        padding-bottom: .8em;
    }
}
.content-info{
    background: #fff;
    border-top: 5px solid $primary;
    padding: 2em 3em;
    border-radius: 0.25em;
    img{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
    ul{
        color: #000;
        li{
            margin-bottom: 0.5em;
        }
    }
}

.was-validated .input-password .form-control{
    &:invalid , &:valid{
        background-image: none;
    } 
}