.ftft-login{
   
  
    .form-signin{
     
        p{
            line-height: 2em;
        }
    }
    .input-password{
        position: relative;
        input{
            padding-right: 3em;
        }
        i{
            position: absolute;
            top: 0.6em;
            right: 0.7em;
            font-size: 1.2em;
            color: $gray-600;
        }
    }
}
